
	
	/*.heading 
		{
		  	text-align:center;
		  	margin-bottom: 30px;
		}
	

	.form 
	{
		max-width: 420px;
	  	padding: 30px 38px 66px;
	 	margin: 0 auto;
	  	background-color: #F1FAFB;
	  	border: 2px dotted rgba(0,0,1,0.1);
	}
	
	
		 

	.box
	{
		width: 270px;
		position: center;
	}
	
	.wrapper 
	{    
		margin-top: 80px;
		margin-bottom: 20px;
	}

	.form_control 
	{
	  	position: relative;
	  	font-size: 14px;
	  	height: auto;
	  	padding: 10px;
	}

	input[type="text"] 
	{
  		margin-bottom: 5px;
  		border-bottom-left-radius: 0;
  		border-bottom-right-radius: 0;
	}*/
		

	.colorgraph 
		{
	  		height: 7px;
	  		border-top: 0;
	  		background: #c4e17f;
	  		border-radius: 5px;
	  		background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  		background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  		background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  		background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
		} 

	
	.header{
		
		text-align: center;
	}

	.content{
	}

	header{
		font-size: xx-large;
	}

	hr.style1 {
    height: 8px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
	}

	 

	.imagen {

		border: none;
		margin-top: 1px;
		height: 15%;
	}

	.imagen:hover {filter: blur(0px);}

	body {
	    font-size: 14px;
	    
	    font-family: "Helvetica";
	}
	 
	
	}
	 
	
	

	